{% extends "AppWebBundle::page_layout.html.twig" %}
{% set app_content_top  = true  %}
{% set app_content_menu  = true  %}
{% set app_content_menu_left  = 0  %}
{% set app_content_menu_width  = 6  %}

{% block app_content_main %}

    <form {{ form_enctype(form) }} method="POST" class="form-horizontal" id="load_apply_form">
        <div class="SearchForm">
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">申请贷款</button>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(function() {
            new FormValidator('#load_apply_form');
            new FormDynamic('#load_apply_form') ;
        });
    </script>

{% endblock %}

{% block app_content_menu %}
    <div style="padding-left:18px">
        content menu
    </div>
{% endblock %}

{% block app_content_top %}
    <div style="background-image: url({{ page.image }})" class="app_top_banner">
        <div class="AppRootBox">
            <div class="vsearchBox2">
                <form>
                    <h2>申请{{ found.name }}</h2>
                    <a class="btn btn-success" href="{{ path('loan_list', { "slug": found.slug }) }}">搜索贷款</a>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block app_content_bottom %}
    <div style="padding-bottom:1em;">

    </div>
{% endblock %}